<%- include('../includes/head-bright.ejs') %>
    <link rel="stylesheet" href="/css/lawn.css">
    <style>
        .profilePicture {
            width: 100px;
            border: 2px solid green;
        }
    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        
            <main>
                <div class = "sidebar">
                    <h1>
                        My Profile
                    </h1>

                <img class="profilePicture" src=<%= user.picture%>>
                <br/>

                <form method="POST" action="/admin/EditProfilePicture">
                    <label for="picture"><br/>Edit Profile Picture (Enter Image URL) <br/></label>
                    <input 
                        type="text" 
                        name="picture" 
                        id="picture" >
                        <button class="btn" type="submit">Change Pic</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>

                <div>
                    <h2>Address: </h2>
                    <h3><%= user.address%></h3>
                </div>
                <form action="/admin/EditProfileAddress" method="POST">
                    <input type="text" name="address">
                    <button class="btn" type="submit">Update Address</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>

                    <br/>
                    <h2>Change Password: </h2>
                    <form action="/admin/EditProfilePassword" method="POST">
                        <input type="text" name="password">
                        <button class="btn" type="submit">Change</button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>

                    <div>
                        <%= user.email%> 
                    </div>
                </div>
                <div class = "content">
                    <div class="myItem">
                        <div class="myItem__header">
                            My Lawns
                        </div>
                    <div class="myItem__content">
                        <% if (laws.length <= 0) {%>
                            <h3>No Lawns Owned</h3>
                        <%} else {%>
                            <ul class="orders">
                            <% laws.forEach(lawn => {%>
                                <li class="orders__item">
                                    <div style = "display:inline-block; width: calc(100% - 21rem);">
                                        <header class="card__header">
                                            <h1 class="product__title">
                                                <%= lawn.town %>
                                            </h1>
                                            <span class="product__price">$
                                                <%= lawn.price %>
                                            </span>
                                            <hr />
                                        </header>
                                        <p class="product__description">
                                            <%= lawn.description %>
                                        </p>
                                        
                                        <div class="product__actions">
                                            <a href="/admin/edit-lawn/<%= lawn._id %>?edit=true" class="btn">Edit</a>
                                            <input type="hidden" value="<%= lawn._id %>" name="lawnId">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="btn" type="button" onclick="deleteLawn(this)">Delete</button>
                                            <a href="/lawns/<%= lawn._id %>" class="btn">Details</a>
                                            <% if (isAuthenticated) { %>
                                                <%- include('./lawn-management.ejs', {lawn: lawn}) %>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="card__image">
                                        <img src="/<%= lawn.imageUrl %>" alt="<%= lawn.title %>">
                                    </div>
                                </li>
                            <% })} %>
                            <li class="orders__item">
                                <a href="/admin/add-lawn">
                                <div class="btn addButton">
                                        <img style="display:flex" src="/plus-svgrepo-com.svg" height="50px"/>
                                        Add Lawn </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                   </div>
                    <div class="myItem">
                        <div class="myItem__header">
                            My Reservations
                        </div>
                    
                    <div class="myItem__content">

                <% if (reservations.length <= 0) { %>
                    <h3>Nothing scheduled</h3>
                <% } else { %>
                    <ul class="orders">
                        <% reservations.forEach(reservation => { %>
                            <li class="orders__item">
                                <h3>Reservation - # <%= reservation._id %> - <a href="/reservations/<%= reservation._id %>">Invoice</a></h3>
                                <ul class="orders__products">
                                    <% reservation.lawns.forEach(l => { %>
                                        <li class="orders__products-item"><%= l.lawn.town %> (<%= l.quantity %>)</li>
                                    <% }); %>
                                </ul>
                            </li>
                        <% }); %>
                    </ul>
                <% } %>
                </div>
                    </div>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>
            <script src="/js/admin.js"></script>