<%- include('../includes/head-bright.ejs') %>
    <link rel="stylesheet" href="/css/lawn.css">
    <style>
        .profilePicture {
            width: 100px;
            border: 2px solid green;
        }
    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        
            <main>
                <div class = "sidebar">
                    <h1>
                        My Profile
                    </h1>

                <img class="profilePicture" src=<%= user.picture%>>
                <br/>

                <form method="POST" action="/admin/EditProfilePicture">
                    <label for="picture"><br/>Edit Profile Picture (open image in new tab and copy image url and paste) <br/></label>
                    <input 
                        type="text" 
                        name="picture" 
                        id="picture" >
                        <button class="btn" type="submit">Update Image</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>

                <div>
                    <h2>Address: </h2>
                    <h3><%= user.address%></h3>
                </div>
                <form action="/admin/EditProfileAddress" method="POST">
                    <input type="text" name="address">
                    <button class="btn" type="submit">Update Address</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>

                    <br/>
                    <h2>Change Password: </h2>
                    <form action="/admin/EditProfilePassword" method="POST">
                        <input type="text" name="password">
                        <button class="btn" type="submit">Change</button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>

                    <div>
                        <%= user.email%> 
                    </div>
                </div>
                <div class = "content">
                    <div class="myItem">
                        <div class="myItem__header">
                            My Reservations
                        </div>
                    
                    <div class="myItem__content">

                <% if (reservations.length <= 0) { %>
                    <h3>Nothing scheduled</h3>
                <% } else { %>
                    <ul class="orders">
                        <% reservations.forEach(reservation => { %>
                            <li class="orders__item">
                                <h3>Reservation - # <%= reservation._id %> - <a href="/reservations/<%= reservation._id %>">Invoice</a></h3>
                                <ul class="orders__products">
                                    <% reservation.lawns.forEach(l => { %>
                                        <li class="orders__products-item"><%= l.lawn.town %> (<%= l.quantity %>)</li>
                                    <% }); %>
                                </ul>
                            </li>
                        <% }); %>
                    </ul>
                <% } %>
                </div>
                    </div>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>
            <script src="/js/admin.js"></script>