<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <div class="mid-background">
        <!-- USE THIS FORM FOR THE FILTERS-->
        <form action="" method="POST">
            <div class="form-line-1">
            <input style="width: 33%;" type="text" placeholder="Town"/>
            <input style="width: 33%;" type="text" placeholder="State"/>
            <input style="width: 33%;" type="text" placeholder="Lawn Size"/>
            </div>
            <div class="form-line-2">
            <input style="width: 50%;" type="text" placeholder="Amenities"/>
            <input style="width: 50%;" type="text" placeholder="Events"/>
            </div>
            <input style="width: 20%;" type="submit" value="Search"/>
        </form>
    </div>
    <main>
        <% if (laws.length > 0) { %>
            <div class="grid">
                <% for (let lawn of laws) { %>
                    <div class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= lawn.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="/<%= lawn.imageUrl %>"
                                alt="<%= lawn.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= lawn.price %></h2>
                            <p class="product__description"><%= lawn.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/lawns/<%= lawn._id %>" class="btn">Details</a>
                            <% if (isAuthenticated) { %>
                                <%- include('../includes/add-to-cart.ejs', {lawn: lawn}) %>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
            <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        <% } else { %>
            <h1>No Lawns Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>